.navbar{
display: flex;
flex-direction: column;
justify-content: center;
background-color: #013914;
color: white;

  .container{
    // width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .logo{
      font-size: 34px;
      font-weight: bold;
      padding-left: 20px;
      font-family: "Montserrat", sans-serif;
      
      .dot{
        color: #1dbf73;
      }
    }

    .links{
      display: flex;
      align-items: center;
      gap: 24px;
      padding-right: 20px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      span{

      }

      button{
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid white;

        &:hover{
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }

    }

  }
    hr{
      border: 0.5px solid lightgrey;
      width: 100%;
      height: 0;
    }

    .menu{
      display: flex;
      justify-content: space-around;
      font-weight: 300;
      color: grey;
      font-family: "Montserrat", sans-serif;
      span{
       
      }
    }



}